<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rural Market</title>
  <link rel="stylesheet" href="/CSS/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="/JS/script.js"></script>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#89A621">
      <div class="container-fluid">

        <a class=" ms-4 navbar-brand" >
          <img onclick="window.location.href='/'" src="./Imagens/logo.png" alt="logo" class="rounded-circle img-fluid"
            width="60" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav text-center mb-lg-0 mb-3">
            <li class="nav-item dropdown  align-self-center me-1">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Categorias
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#frutas">Frutas</a></li>
                <li><a class="dropdown-item" href="#legumes">Legumes</a></li>
                <li><a class="dropdown-item" href="#verduras">Verduras</a></li>
                <li><a class="dropdown-item" href="#coloniais">Coloniais</a></li>

                <li><a class="dropdown-item" href="#alimento">Alimento Animal</a></li>
              </ul>
            </li>
            <li class="nav-item align-self-center ms-2 me-2 mb-lg-0 mb-3">
              <button class="btn btn-outline-success text-white me-3" type="submit"><a
                  style="text-decoration: none;list-style: none;" class="text-white "
                  href="/anuncio/novo">Anunciar</a></button>
            </li>
            <form class="nav-item d-flex align-self-center ms-5 mb-lg-0 mb-3" role="search">
              <input class="form-control me-1" type="search" placeholder="Pesquisar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Pesquisar</button>
            </form>
            <li class="nav-item align-self-center ms-3 me-2 mb-lg-0 mb-3">
              <button type="button" class="btn btn-outline-light align-items-center" style="background-color:#ffff;">
                <a style="text-decoration:none;list-style: none;color: #89A621;"
                  onclick="window.location.href='/login'">Entrar</a>
              </button>
              <button type="button" class="btn btn-outline-light" style="background-color:#ffff;">
                <a style="text-decoration: none;list-style: none;color: #89A621;"
                  onclick="window.location.href='/cadastro'">Cadastrar</a>
              </button>
            </li>
          </ul>
        </div>

      </div>
</header>
  <div class="container " style="height:80vh; padding-top:20vh;">
    <div class="row align-items-center">
      <div class="col-xs-10 col-md-10 mx-auto col-lg-6" style="height:30vh; ">
        <form class="p-5 p-md-5 rounded-3 formulario w-100 " style="border:2px solid #538EA6;" action="/cadastro"
          method="post">
          <div class="row container justify-content-center p-0">
            <img class="w-50 align-items-center rounded-circle" src="./Imagens/logo.png" alt="">
            <div class="justify-content-center">
              <h3 class="text-center" style="color:#000000;">Seja Bem-Vindo</h3>
              <h5 class="text-center" style="color:#538EA6;">Crie sua conta</h5>
            </div>
          </div>

          <div class="form-floating mb-1">
            <input type="name" style="border:1px solid #89A621;" class="form-control" name="nome" id="nome"
              placeholder="Nome" required>
            <label for="nome">Nome</label>
          </div>
          <div class="form-floating mb-1">
            <input type="email" style="border:1px solid #89A621;" onblur="validacaoEmail(f1.email)" maxlength="60"
              class="form-control" name="email" id="email" placeholder="Email" required>
            <label for="email">Email</label>
          </div>
          <div class="form-floating mb-1">
            <input type="name" style="border:1px solid #89A621;" class="form-control" name="usuario" id="usuario"
              placeholder="Usuario" required>
            <label for="usuario">Usuario</label>
          </div>
          <div class="form-floating mb-1">
            <input type="password" class="form-control" style="border:1px solid #89A621;" name="senha" id="senha"
              placeholder="Senha" required>
            <label for="senha">Senha</label>
          </div>
          <div class="mb-1 d-flex ">
            <div class="form-floating mb-1 me-3 col-8">
              <input type="text" class="form-control" placeholder="Bairro" style="border:1px solid #89A621;"
                name="bairro" id="bairro" required>
              <label for="bairro">Bairro</label>
            </div>
            <div class="form-floating mb-1">
              <input type="text" class="form-control " style="border:1px solid #89A621;" name="cep" id="cep"
                placeholder="CEP" required>
              <label for="cep">CEP</label>
            </div>
          </div>
          <div class="mb-1 d-flex ">
            <div class="form-floating mb-1 me-3 col-9">
              <input type="text" class="form-control" placeholder="Cidade" style="border:1px solid #89A621;"
                name="cidade" id="cidade" required>
              <label for="cidade">Cidade</label>
            </div>
            <div class="form-floating mb-1">
              <input type="text" class="form-control" placeholder="UF" style="border:1px solid #89A621;" name="uf"
                id="uf" required>
              <label for="uf">UF</label>
            </div>
          </div>
          <div class="form-floating mb-1">
            <input type="text" class="form-control" maxlength="15" placeholder="Telefone" style="border:1px solid #89A621;"
              name="telefone" id="telefone" required>
            <label for="telefone">Telefone</label>
          </div>

          <div class="d-flex">
            <button class="btn btn-lg col" style="border:2px solid #89A621" type="submit"><a class="text-body"
                style="list-style: none;cursor:pointer;text-decoration: none;">Cadastrar</a>
            </button>
            <div class="row m-0 pt-1">
              <h4 class="align-self-center text-end col-7 me-0 ms-1 fs-6 " style="text-align: right;">Já tem conta?</h4>
              <a onclick="window.location.href='/login'" class="col-4">
                <h4 class="btn btn-lg text-white "
                  style="color:#19401B;background-color: #89A621; cursor:pointer; text-decoration: none;">Entrar</h4>
              </a>
            </div>
          </div>

        </form>
      </div>
    </div>
    <script>
      document.getElementById('cadastro').addEventListener('submit', function (event) {
        event.preventDefault();

        // Obter os dados do formulário
        const formData = new FormData(this);
        const dadosDoFormulario = Object.fromEntries(formData.entries());

        // Fazer a requisição ao backend
        fetch('/cadastro', {
          method: 'POST',
          body: JSON.stringify(dadosDoFormulario),
          headers: {
            'Content-Type': 'application/json'
          }
        })
          .then(response => response.json())
          .then(data => {
            const success = data.success;
            if (success) {
              // Exibir a mensagem de sucesso e redirecionar
              alert('Usuário cadastrado com sucesso!');
              window.location.href = '/';
            } else {
              // Exibir mensagem de erro
              alert('Ocorreu um erro ao cadastrar o usuário.');
            }
          })
          .catch(error => {
            // Tratamento de erro
            console.error(error);
            alert('Ocorreu um erro ao processar a requisição.');
          });
      });
    </script>
    <script>
      $(document).ready(function() {
    $('#cep').mask('99999-999');
    $('#telefone').mask('(99) 99999-9999');
    $('#uf').mask('AA');

    });
  // Captura o campo de UF pelo seu ID
  const ufInput = document.getElementById('uf');

  // Adiciona um manipulador de evento 'input'
  ufInput.addEventListener('input', function() {
    this.value = this.value.toUpperCase();
  });
  // Função para converter a primeira letra em maiúscula
  function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
  }

  // Captura os campos de cidade, nome, usuário e bairro pelos seus IDs
  const cidadeInput = document.getElementById('cidade');
  const nomeInput = document.getElementById('nome');
  const usuarioInput = document.getElementById('usuario');
  const bairroInput = document.getElementById('bairro');

  // Adiciona manipuladores de evento 'input'
  cidadeInput.addEventListener('input', function() {
    this.value = capitalizeFirstLetter(this.value);
  });

  nomeInput.addEventListener('input', function() {
    this.value = capitalizeFirstLetter(this.value);
  });

  usuarioInput.addEventListener('input', function() {
    this.value = capitalizeFirstLetter(this.value);
  });

  bairroInput.addEventListener('input', function() {
    this.value = capitalizeFirstLetter(this.value);
  });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
</body>

</html>